@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.anton-fonts {
  font-family: "Anton", sans-serif;
}
.poppins-fonts {
  font-family: "Poppins", sans-serif;
}
